.about {
  padding-top: 43px;

  @media (min-width: @tablet-width) {
    padding-top: 53px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 90px;
    overflow-x: hidden;
  }
}

.about__descr-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    padding-top: 52px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1020px;
    padding-top: 55px;
  }
}

.about__descr-col {
  @media (min-width: @tablet-width) {
    flex-basis: 50%;
  }

  &:first-child {
    @media (min-width: @tablet-width) {
      padding-right: 15px;
    }
  }

  &:last-child {
    @media (min-width: @tablet-width) {
      padding-left: 15px;
    }
  }
}

.about__title {
  .titleSection();
  line-height: 42px;

  & > br {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.about__subtitle {
  .subtitleSection();
  margin-top: 41px;
  letter-spacing: 0.5px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 23px;
  }

  &:nth-child(2) {
    margin-top: 24px;
  }
}

.about__text {
  margin: 0;
  margin-top: 13px;
  color: @color-gray;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }

  &--first {
    margin-top: 23px;

    @media (min-width: @tablet-width) {
      margin-top: 0;
      margin-bottom: 12px;
    }
  }

  &--last-right {
    @media (min-width: @desktop-width) {
      max-width: 360px;
    }
  }

  &:nth-of-type(5) {
    margin-top: 18px;
  }

  &:last-of-type {
    margin-top: 24px;

    @media (min-width: @tablet-width) {
      margin-top: 0;
    }

    @media (min-width: @desktop-width) {
      padding-right: 20px;
    }
  }
}
