.details {
  .sideOffset();
  padding-top: 57px;
  padding-bottom: 70px;
  background-color: fade(#020003, 20);
}

.details__title {
  .titleSection();
}

.details__list {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
}
