.features-item {
  position: relative;
  min-width: 145px;
  padding-top: 36px;

  @media (min-width: @tablet-width) {
    min-width: 154px;
    padding-top: 45px;
  }

  &:not(:first-child) {
    padding-left: 15px;
    margin-right: 15px;

    @media (min-width: @tablet-width) {
      padding-left: 40px;
      min-width: 194px;
    }
  }

  &:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 65px;
    left: -1px;
    width: 2px;
    height: 49px;
    background-color: fade(#e12457, 15);

    @media (min-width: @tablet-width) {
      top: 84px;
    }
  }
}

.features-item__title {
  margin: 0;
  color: @color-raspberry;
  font-size: @font-size-title;
  font-weight: 700;
  line-height: 1;

  @media (min-width: @tablet-width) {
    font-size: 48px;
  }
}

.features-item__text {
  margin: 0;
  margin-top: 12px;
  color: @color-gray;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
}
