.features {
  position: relative;
  min-height: 169px;
  .sideOffset();
  background-color: #fff5f8;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    min-height: 209px;
  }
}

.features__list {
  display: flex;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
}
