.header {
  min-width: @mobile-width;
  min-height: 579px;
  padding-top: 20px;
  .sideOffset();
  color: @color-white;
  background: #821462 url("../img/bg-header-320.jpg") no-repeat center center;
  background-size: 100%;
}

.header__heading-block {
  margin-top: 95px;
}

.header__video-block {
  margin-top: 52px;
}

.header__btn-scroll {
  display: block;
  width: 59px;
  height: 59px;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  background-color: transparent;
  background-image: url("../img/scroll-button.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
