.info-block {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 50px;
  overflow: hidden;
  min-height: 183px;
  background-color: #cccccd;

  @media (min-width: @tablet-width) {
    max-width: @tablet-width;
    min-height: 318px;
    margin-top: -50px;
    padding-bottom: 0;
    z-index: -1;
    background-color: transparent;
    background-image: url("../img/bg-author-750.png");
  }

  @media (min-width: @desktop-width) {
    max-width: none;
    margin-left: -15px;
    margin-right: -15px;
    min-height: 350px;
    top: -100px;
    overflow: initial;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 25px;
    left: -900px;
    width: 1447px;
    height: 1264px;
    border: 5px solid #e12457;
    background-color: #ffffff;
    border-radius: 50%;
    transform: skew(8deg);

    @media (min-width: @tablet-width) {
      width: 2717px;
      height: 2375px;
      bottom: 55px;
      left: -1264px;
      transform: skew(-10deg);
    }

    @media (min-width: @desktop-width) {
      left: -825px;
      bottom: 45px;
    }
  }
}

.info-block__planet {
  position: absolute;
  border: 5px solid #e12457;
  background-color: #ffffff;
  border-radius: 50%;

  &--earth {
    width: 79px;
    height: 79px;
    bottom: 0;
    left: -5px;

    @media (min-width: @tablet-width) {
      width: 147px;
      height: 147px;
      bottom: 17px;
      left: 113px;
    }
    
    @media (min-width: @desktop-width) {
      bottom: 2px;
      left: 531px;
    }

    &::before {
      content: "Earth";
      position: absolute;
      top: -40px;
      left: 28px;
      color: @color-raspberry;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;

      @media (min-width: @tablet-width) {
        top: 57px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &--mars {
    width: 45px;
    height: 45px;
    top: 24px;
    right: -6px;

    @media (min-width: @tablet-width) {
      width: 83px;
      height: 83px;
      top: 5px;
      right: 16px;
    }
    
    @media (min-width: @desktop-width) {
      top: 52px;
    }

    &::before {
      content: "Mars";
      position: absolute;
      top: -1px;
      left: -56px;
      color: @color-raspberry;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;

      @media (min-width: @tablet-width) {
        top: 23px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.info-block__rocket {
  position: absolute;
  bottom: 49px;
  left: 145px;
  width: 55px;
  height: 44px;
  background-image: url("../img/icon-rocket.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  @media (min-width: @tablet-width) {
    bottom: 130px;
    left: 420px;
  }
  
  @media (min-width: @desktop-width) {
    bottom: 114px;
    left: 838px;
  }
}

.info-block__text-wrapper {
  display: flex;
  position: absolute;
  bottom: 11px;
  right: 26px;

  @media (min-width: @tablet-width) {
    bottom: 95px;
    right: 154px;
  }
  
  @media (min-width: @desktop-width) {
    bottom: 80px;
    right: 155px;
  }
}

.info-block__text {
  margin: 0;
  margin-left: 22px;
  color: @color-raspberry;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;

  & > sup {
    font-size: 16px;
  }
}
