.logo-block {
  display: flex;
}

.logo-block__text {
  margin-left: 10px;

  & span {
    display: block;
    font-size: 13px;
    font-weight: 100;
    line-height: 13px;
  }
}

.logo-block__title {
  margin: 0;
  margin-top: 4px;
  font-size: 17px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
