.news-form {
  margin-top: 30px;
  margin-left: 15px;
  background-image: url("../img/bg-form-320.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 55px 0 67px 50px;
  }
}

.news-form__title {
  margin: 0;
  margin-left: 15px;
  font-size: 23px;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-bottom: 31px;
  }
}

.news-form__input {
  min-width: 250px;
  margin-top: 35px;
  padding: 10px;
  color: @color-white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid @color-white;

  &:first-of-type {
    margin-top: 0;
  }

  &::placeholder {
    color: @color-white;
  }
}

.news-form__btn {
  min-width: 255px;
  margin-top: 55px;
  border: none;
}
