.news-form {
  padding-top: 55px;
  padding-left: 30px;
  padding-bottom: 67px;
  background-image: url("../img/bg-form-320.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 55px 0 67px 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 66px 0 74px 70px;
  }
}

.news-form__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 23px;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 31px;
  }
}

.news-form__input {
  min-width: 250px;
  margin-top: 31px;
  padding: 9px;
  color: @color-white;
  background-color: transparent;
  font-family: @font-proximanova;
  font-size: 15px;
  line-height: 13px;
  border: none;
  border-bottom: 1px solid @color-white;

  &:first-of-type {
    margin-top: 0;
  }

  &::placeholder {
    color: @color-white;
  }
}

.news-form__btn {
  min-width: 255px;
  margin-top: 55px;
  border: none;
}
