.news {
  margin-left: -15px;
  margin-right: -15px;
  color: @color-white;

  @media (min-width: @tablet-width) {
    max-width: 360px;
    margin: 0;
    padding: 0;
    padding-right: 15px;
  }

  @media (min-width: @desktop-width) {
    max-width: 404px;
  }
}
