.price {
  .sideOffset();
  padding-bottom: 55px;
  background-image: url("../img/bg-price-320.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.price__img {
  margin-top: -150px;
  width: 289px;
  height: 289px;
  margin-left: auto;
  margin-right: auto;
}

.price__title {
  margin: 0;
  margin-top: 32px;
  color: @color-white;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.price__text {
  margin: 0;
  margin-top: 21px;
  color: @color-white;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.price__block {
  margin-top: 37px;

  & > span {
    display: block;
  }
}

.price__value {
  color: @color-white;
  font-size: 60px;
  font-weight: 100;
  line-height: 1;
}

.price__value-descr {
  max-width: 220px;
  margin-top: 24px;
  padding-bottom: 5px;
  color: @color-white;
  font-size: 24px;
  font-weight: 100;
  line-height: 1;
  border-bottom: 1px solid @color-white;
}

.price__btn {
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
}
