.video-block {
  position: relative;
  width: 214px;
  margin-left: auto;
  margin-right: auto;
}

.video-block__play-btn {
  display: block;
  position: absolute;
  top: 44px;
  left: 50%;
  transform: translateX(-50%);
  width: 52px;
  height: 52px;
  background-image: url("../img/play-button.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 0;
  text-decoration: none;
}

.video-block__text {
  margin: 0;
  margin-top: -10px;
  margin-left: 90px;
  max-width: 100px;
  color: #ffcfdf;
  font-size: 13px;
  line-height: 13px;
  font-weight: 300;
}
