.warnings {
  .sideOffset();
  padding-top: 56px;
  padding-bottom: 52px;
  background-image: url("../img/bg-space-320.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (min-width: @tablet-width) {
    padding-top: 68px;
  }
}

.warnings__title {
  .titleSection();
  color: @color-white;
  max-width: 210px;
  line-height: 43px;

  @media (min-width: @tablet-width) {
    max-width: 500px;
    line-height: 56px;
  }
}

.warnings__img-wrapper {
  margin-top: 44px;
  width: 290px;

  @media (min-width: @tablet-width) {
    width: 718px;
    margin-top: 42px;

    .video-block__img img {
      width: 718px;
      height: 361px;
    }
  }
}

.warnings__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.warnings__play-btn {
  top: 50%;
  transform: translate(-50%, -50%);
}
