.warnings-item {
  position: relative;
  margin-top: 45px;

  @media (min-width: @tablet-width) {
    width: 250px;
  }

  &:first-of-type {
    margin-top: 41px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    right: 4px;
    width: 10px;
    height: 10px;
    border-right: 2px solid fade(@color-white, 40);
    border-bottom: 2px solid fade(@color-white, 40);
    transform: rotate(-45deg);
  }

  &--active {
    &::before {
      top: 9px;
      border-color: @color-white;
      transform: rotate(-135deg);
    }

    .warnings-item__title {
      color: @color-white;
    }

    .warnings-item__text {
      display: block;
    }
  }
}

.warnings-item__title {
  margin: 0;
  color: #908bb1;
  font-family: @font-opensans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.7px;
}

.warnings-item__block-text {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    left: 250px;
    width: 460px;
    padding-left: 33px;
  }
}

.warnings-item__text {
  display: none;
  margin: 0;
  margin-top: 12px;
  color: @color-white;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  &:first-of-type {
    margin-top: 32px;
  }
}
