section.about
  .container
    h2.about__title
      | Марс. <br>
      | Вспомнить всё
    .about__descr-wrapper
      .about__descr-col
        p.about__subtitle
          | Что такое Марс?
        p.about__text.about__text--first
          | Планета Солнечной системы, названа в честь Марса —&nbsp;древнеримского бога войны. Иногда Марс называют «красной планетой» из-за красного оттенка поверхности, придаваемого ей оксидом железа.
        p.about__text
          | Особенности планеты — наличие слабой отмосферы, состоящей в основном из улекислого газа, времена года, пылевые бури, сильная эррозия почв.
      .about__descr-col.about__descr-col--second-col
        p.about__subtitle
          | Где это? Как туда доехать?
        p.about__text
          | Расстояние до Марса — почти 56 миллионов&nbsp;километров.
        p.about__text.about__text--last-right
          | Чтобы преодалеть такое расстояние, нужно&nbsp;лететь на межпланетоном корабле 7&nbsp;-&nbsp;8&nbsp;месяцев.

    .about__info.info-block
      .info-block__planet.info-block__planet--earth
      .info-block__planet.info-block__planet--mars
      span.info-block__rocket
      .info-block__text-wrapper
        p.info-block__text
          | 56&nbsp;
          sup
            | mln&nbsp;km
        p.info-block__text
          | 7&nbsp;
          sup
            | mths
