section.about
  h2.about__title
    | Марс. <br>
    | Вспомнить всё
  p.about__subtitle
    | Что такое Марс?
  p.about__text
    | Планета Солнечной системы, названа в честь Марса — древнеримского бога войны. Иногда Марс называют «красной планетой» из-за красного оттенка поверхности, придаваемого ей оксидом железа.
  p.about__text
    | Особенности планеты — наличие слабой отмосферы, состоящей в основном из улекислого газа, времена года, пылевые бури, сильная эррозия почв.
  p.about__subtitle
    | Где это? Как туда доехать?
  p.about__text
    | Расстояние до Марса — почти 56 миллионов километров.
  p.about__text
    | Чтобы преодалеть такое расстояние, нужно лететь на межпланетоном корабле 7-8 месяцев.
