section.author
  h2.author__title
    | От идеи <br>
    | &nbsp;до реализации
  p.author__subtitle
    | Илон Маск. Гений или безумец?
  p.author__text
    | Канадско-американский инженер, предприниматель, изобретатель и инвестор; миллиардер. Основатель компаний SpaceX и X.com, позже переименованной в PayPal. Планирует потратить большую часть накоплений на реализацию своей мечты, а также мечты многих тысяч романтиков, писателей, учёных: создать внеземную цивилизацию.
  .author__img-wrapper
    img.author__img(src="./img/ilon-mask-320.jpg", alt="Ilon Mask", width="165", height="189")
  blockquote.author__quote
    | Мы должны сделать эту мечту реальностью за наше время жизни. Любой человек, который пожелает отправиться на&nbsp;Марс, должен иметь такую возможность
  p.author__quote-descr
    |  — заявил Маск на Международной астронавтической конференции в Гвадалахаре (Мексика). Он обосновал необходимость своего проекта вопросом выживания человечества, которое для своего сохранения должно стать «космическим видом».
  p.author__text
    | Илон поставил перед собой цель: скоратить стоимость вывода кораблей в космос в 10 раз, что станет первым шагом для человечества в освоении Марса.
  div.author__price.price
    picture.price__img
      source(media="(min-width: 750px)", srcset="./img/rocket-750.jpg, ./img/rocket-750@2x.jpg 2x")
      img(src="./img/rocket-320.jpg", srcset="./img/rocket-320@2x.jpg 2x", alt="The flight of the rocket")
    h2.price__title
      | Стоимость перелёта
    p.price__text
      | Высадка двоих астронавтов на&nbsp;Луну обошлась США в&nbsp;20&nbsp;млрд. долларов. Маск стремится сократить эту цифру в 20 000 раз, что составит <strong>500&nbsp;000 долларов</strong> на&nbsp;человека.
    .price__block
      span.price__value
        | $500&nbsp;k
      span.price__value-descr
        | и&nbsp;ты&nbsp;на&nbsp;Марсе!
      a.price__block-btn.btn-white(href="#")
        | Я готов лететь
