section.author
  h2.author__title
    | От идеи <br>
    | до реализации
  p.author__subtitle
    | Илон Маск. Гений или безумец?
  p.author__text
    | Канадско-американский инженер, предприниматель, изобретатель и инвестор; миллиардер. Основатель компаний SpaceX и X.com, позже переименованной в PayPal. Планирует потратить большую часть накоплений на реализацию своей мечты, а также мечты многих тысяч романтиков, писателей, учёных: создать внеземную цивилизацию.
  .author__img-wrapper
    img.author__img(src="./img/ilon-mask-320.jpg", alt="Ilon Mask", width="165", height="189")
  blockquote.author__quote
    | Мы должны сделать эту мечту реальностью за наше время жизни. Любой человек, который пожелает отправиться на Марс, должен иметь такую возможность
  p.author__quote-descr
    |  — заявил Маск на Международной астронавтической конференции в Гвадалахаре (Мексика). Он обосновал необходимость своего проекта вопросом выживания человечества, которое для своего сохранения должно стать «космическим видом».
  p.author__text
    | Илон поставил перед собой цель: скоратить стоимость вывода кораблей в космос в 10 раз, что станет первым шагом для человечества в освоении Марса.
