section.criteria
  h2.criteria__title
    | Деньги приготовил. <br>
    | Когда вылетаем?
  p.criteria__text
    | Первый «частный» полёт на&nbsp;Марс осуществит в&nbsp;2018&nbsp;году в&nbsp;беспилотном варианте корабль Dragon V2 с помощью тяжёлой ракеты Falcon Heavy. После этого запланированы две миссии в&nbsp;2020&nbsp;году, как минимум одна в&nbsp;2022-м и,&nbsp;вероятно, пилотируемая миссия через два года с&nbsp;достижением Марса в&nbsp;2025&nbsp;году.
  p.criteria__text
    | Для всех желающих открыты курсы подготовки.
  p.criteria__text
    | За 40-100 ближайших лет на Марс планируется доставить до&nbsp;1 млн.
  a.criteria__link(href="#")
    | Критерии отбора
