section.details
  h2.details__title
    | Организация жизни в&nbsp;колонии
  ul.details__list
    li.details__item.details-item.details-item--active
      .details-item__heading-block
        span.details-item__icon.details-item__icon--teacup
          | Иконка проживания
        h3.details-item__title
          | Проживание
      img.details-item__img(src="./img/accommodation-320.jpg", alt="Accommodation at the station", width="260", height="125")
      p.details-item__subtitle
        | Проживание
      p.details-item__text
        | В&nbsp;основе жилых помещений лежат надувные компоненты&nbsp;—&nbsp;спальня, рабочая зона, гостиная, парник для&nbsp;выращивания зелени —&nbsp;50&nbsp;м2 на&nbsp;человека. Благодаря этим компонентам, колонисты смогут принять душ, приготовить свежую пищу, носить обычную одежду. Весь комплекс соединен сетью ходов.
      a.details-item__link(href="#")
        | Подробнее
    li.details__item.details-item
      .details-item__heading-block
        span.details-item__icon.details-item__icon--helmet
          | Иконка шлема
    li.details__item.details-item
      .details-item__heading-block
        span.details-item__icon.details-item__icon--microscope
          | Иконка микроскопа
    li.details__item.details-item
      .details-item__heading-block
        span.details-item__icon.details-item__icon--camera
          | Иконка камеры
    li.details__item.details-item
      .details-item__heading-block
        span.details-item__icon.details-item__icon--flower
          | Иконка цветка
