section.features
  .container
    ul.features__list
      li.features__item.features-item
        h3.features-item__title
          | 4
        p.features-item__text
          | четвёртая планета по&nbsp;удалённости от&nbsp;Солнца
      li.features__item.features-item
        h3.features-item__title
          | 7
        p.features-item__text
          | седьмая по&nbsp;размерам планета Солнечной системы
      li.features__item.features-item
        h3.features-item__title
          | 10,7%
        p.features-item__text
          | массы Земли (ваш вес будет в&nbsp;3 раза меньше, чем на&nbsp;Земле)
      li.features__item.features-item
        h3.features-item__title
          | 2
        p.features-item__text
          | спутника вместо Луны (как картошка, только больше)
      li.features__item.features-item
        h3.features-item__title
          | 21&nbsp;км
        p.features-item__text
          | высота самой высокой горы Марса.
      li.features__item.features-item
        h3.features-item__title
          | +20
        p.features-item__text
          | максимальная температура на&nbsp;поверхности
