footer.footer
  ul.footer__socials.socials
    li.socials__item
      a.socials__link.socials__link--vk(href="#")
        | Проект во Вконтакте
    li.socials__item
      a.socials__link.socials__link--tw(href="#")
        | Проект в Twitter
    li.socials__item
      a.socials__link.socials__link--fb(href="#")
        | Проект в Facebook
    li.socials__item
      a.socials__link.socials__link--youtube(href="#")
        | Канал на Youtube
  a.footer__link(href="#")
    | Подробнее о проекте
  .footer__logo-block.logo-block
      .logo-block__img-wrapper
        img.logo-block__img(src="./img/logo-white.png", alt="Pantheon project logo", width="39", height="39")
      .logo-block__text
        h1.logo-block__title
          | Pantheon
        span
          | project
