footer.footer
  h2.footer__title
    | Деньги приготовил. <br>
    | Когда вылетаем?
  .footer__block-content
    .footer__criteria.criteria
      p.criteria__text
        | Первый «частный» полёт на&nbsp;Марс осуществит в&nbsp;2018&nbsp;году в&nbsp;беспилотном варианте корабль Dragon V2 с помощью тяжёлой ракеты Falcon Heavy. После этого запланированы две миссии в&nbsp;2020&nbsp;году, как минимум одна в 2022&nbsp;-&nbsp;м&nbsp;и, вероятно, пилотируемая миссия через два года с&nbsp;достижением Марса в 2025 году.
      p.criteria__text
        | Для всех желающих открыты курсы подготовки.
      p.criteria__text
        | За 40-100 ближайших лет на Марс планируется&nbsp;доставить до 1 млн.
      a.criteria__link(href="#")
        | Критерии отбора
    .footer__news.news
      form.news__form.news-form(action="https://echo.htmlacademy.ru", method="POST")
        h2.news-form__title
          | Будь в курсе новостей
        input.news-form__input(type="text", id="user-name", name="user-name", placeholder="Имя")
        label.news-form__label.visually-hidden(for="user-name")
        input.news-form__input(type="email", id="user-email", name="user-email", placeholder="E-mail")
        label.news-form__label.visually-hidden(for="user-email")
        button.news-form__btn.btn-white(type="submit")
          | Подписаться
  .footer__block-bottom
    p.footer__socials-label
      | Следуйте за нами
    ul.footer__socials.socials
      li.socials__item
        a.socials__link.socials__link--vk(href="#")
          | Проект во Вконтакте
      li.socials__item
        a.socials__link.socials__link--tw(href="#")
          | Проект в Twitter
      li.socials__item
        a.socials__link.socials__link--fb(href="#")
          | Проект в Facebook
      li.socials__item
        a.socials__link.socials__link--youtube(href="#")
          | Канал на Youtube
    a.footer__link(href="#")
      | Подробнее о проекте
    .footer__logo-block.logo-block
        .footer__logo-wrapper.logo-block__img-wrapper
          img.logo-block__img(src="./img/logo-white.png", alt="Pantheon project logo",)
        .footer__logo-text.logo-block__text
          h1.logo-block__title
            | Pantheon
          span
            | project
