header.header
  nav.header__nav.nav
    .nav__logo-block.logo-block
      .logo-block__img-wrapper
        img.logo-block__img(src="./img/logo.png", alt="Pantheon project logo", width="39", height="39")
      .logo-block__text
        h1.logo-block__title
          | Pantheon
        span
          | project
    .nav__menu-block
  .header__heading-block.heading-block
    p.heading-block__text
      span
        | Пункт назначения:
      | Пантеон,
    p.heading-block__heading
      | марс
  .header__video-block.video-block
    .video-block__img-wrapper
      img.video-block__img(src="./img/header-video-320.png", alt="Preview video about Mars", width="214", height="139")
    a.video-block__play-btn(href="#")
      | Воспроизвести видео
    p.video-block__text
      | Первый город на&nbsp;планете Марс недалеко от&nbsp;горы Олимп
  button.header__btn-scroll
    | Скролить вниз
