section.price
  img.price__img(src="./img/rocket-320.jpg", alt="The flight of the rocket", width="289", height="289")
  h2.price__title
    | Стоимость перелёта
  p.price__text
    | Высадка двоих астронавтов на&nbsp;Луну обошлась США в&nbsp;20&nbsp;млрд. долларов. Маск стремится сократить эту цифру в&nbsp;20&nbsp;000 раз, что составит <strong>500&nbsp;000 долларов</strong> на&nbsp;человека.
  .price__block
    span.price__value
      | $500&nbsp;k
    span.price__value-descr
      | и&nbsp;ты&nbsp;на&nbsp;Марсе!
  a.price__btn.btn-white(href="#")
    | Я готов лететь
