section.warnings
  h2.warnings__title
    | Подводные камни в&nbsp;масштабах космоса
  .warnings__img-wrapper.video-block
    img.video-block__img(src="./img/astronaut-video-320.jpg", alt="Video about astronaut", width="291", height="172")
    span.video-block__play-btn.warnings__play-btn
  ul.warnings__list
    li.warnings__item.warnings-item.warnings-item--active
      h3.warnings-item__title
        | Жить или&nbsp;выживать?
      p.warnings-item__text
        | Чем отличаются Земля и&nbsp;Марс? Какие условия встретят новых поселенцев?
      p.warnings-item__text
        | Марс холодная и&nbsp;засушливая планета, на&nbsp;которой есть своя атмосфера, на&nbsp;96% состоящая из&nbsp;углекислых газов, а&nbsp;минимальная температура опускается до&nbsp;-140 градусов по&nbsp;Цельсию. Каждый год по&nbsp;весне на&nbsp;планете случаются пылевые бури, длящиеся от&nbsp;нескольких часов до&nbsp;нескольких месяцев.
      p.warnings-item__text
        | На&nbsp;планете отсутствует магнитное поле, поэтому радиационный фон повышен. А&nbsp;низкая гравитация при&nbsp;длитеьном пребывании на&nbsp;Марсе сделает возвращение на&nbsp;Землю невозможным. Полёт на&nbsp;Марс — билет в&nbsp;один конец с&nbsp;целью создать новую цивилизацию.
    li.warnings__item.warnings-item
      h3.warnings-item__title
        | Готовы&nbsp;ли технологии?
    li.warnings__item.warnings-item
      h3.warnings-item__title
        | Путешествие на&nbsp;грани фантастики
    li.warnings__item.warnings-item
      h3.warnings-item__title
        | Жизнь на&nbsp;Марсе
